:host{
    display: block;
    width: 75%;
    padding: 10px;
    color: rgb(7, 81, 146);
    margin: auto;
    margin-bottom: 10px;
    border: 1px dashed rgb(155, 112, 3);
    }
.image{
    display: block;
    border: 5px solid antiquewhite;
    width: 55%;
    height: 55%;
    margin: auto;
    
}


.title{
    text-align: center;
    color: rgb(6, 122, 6);
    font-size: large;

}
.description{
    font: 1em sans-serif;
    
    
}



.tag{
    border: 1px solid red;
    padding: 8px;
    display: inline-block;
    margin: 8px;
}
:host.is-first{
    border: 2px solid black;
   

}
:host.is-last{
    border: 2px dashed rgb(49, 201, 117);
    color: rgb(60, 5, 148);
   

}





