:host{
    display: block;
    width: 550px;
    padding: 10px;
    color: rgb(168, 217, 226);
}
.image{
    border: 5px;
    border-color: antiquewhite;
}
.title{
    align-content: center;
    color: rgb(6, 122, 6);
    font-size: large;
}
.description{
    font: 1em sans-serif;
}


:host.is-first{
    border: 2px solid black;

}