<div>
    <label>ID: <input [(ngModel)]="tempid"></label>
</div>
<div>
    <label>Title: <input [(ngModel)]="newMovie.title"></label>
</div>
<div>
    <label>Description: <input [(ngModel)]="newMovie.description"></label>
</div>
<div>
    <label>Creator: <input [(ngModel)]="newMovie.creator"></label>
</div>
<div>
    <label>Image URL: <input [(ngModel)]="newMovie.imgURL"></label>
</div>
<div>
    <label>Type: <input [(ngModel)]="newMovie.type"></label>
</div>
<div>
    <label>Tags: <input [(ngModel)]="temptags"></label>
</div>