.noType{
    background-color: rgb(173, 160, 244);
    color: rgb(24, 5, 133);;
}

.horror{
    background-color: rgb(238, 194, 146);
    color: rgb(179, 79, 3);
}
.action{
    background-color: rgb(194, 247, 177);
    color: rgb(17, 108, 58);
}
.success{
    color: rgb(45, 114, 61);

}

.failure{
    color: rgb(154, 7, 7);
}